.photographers{
    &__article{
        margin-bottom: 80px;
        padding-bottom: 10px;
        &--filtre{
            display: none;
        }
        &__div{
            padding: 20px;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            position: relative;
            &__span{
                position: absolute;
                z-index: 1;
                width: 95%;
                height: 45vw;
                font-size: 8rem;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            &__figure{
                width: 100%;
                // height: 45vw;
                // max-height: 90vw;
                margin: 0px;
                border-radius: 5px;
                &__img{
                    width: 100%;
                    height: 45vw;
                    object-fit: cover;
                    border-radius: 5px;
                }
            }
            &__p{
                &--titre{
                    margin: 10px 0px 0px 0px;
                    font-size: 0.8rem;
                    font-weight: bold;
                    color: $primaire_cadre;
                }
                &--likes{
                    margin: 10px 0px 0Px 0px;
                    font-size: 0.8rem;
                    font-weight: bold;
                    color: $primaire_cadre;
                }
            }
        }
    }
}
@media screen and(min-width: 769px) {
    .photographers{
        &__article{
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
            align-items: center;
            &__div{
                width: 28%;
                height: 300Px;
                &__span{
                    height: 300px;
                }
                &__figure{
                    // height: 100%;
                    // border-radius: 5px;
                    // display: flex;
                    // justify-content: center;
                    // align-items: center;
                    &__img{
                        height: 300px;
                    }
                    &__source{
                        object-fit: cover;
                        border-radius: 5px;
                    }
                }
            }
            &--filtre{
                display: block;
                padding-left: 50px;
                font-weight: bold;
                margin-top: 10px;
                &__select{
                    background-color: $primaire_cadre;
                    width: auto;
                    color: white;
                    font-size: 1rem;
                    padding: 10px;
                    border-radius: 5px;
                    border: none;
                    & option{
                        display: inline-block;
                        width: auto;
                        margin-bottom: 1px;
                        padding: 0px;
                        min-height: 0px;
                    }
                }
            }

        }
    }
}

.video{
    object-fit: cover;
    width: 100%;
    height: 300px;
}