.main{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    &__article{
        width: 255px;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        &__figure{
            width: 70%;
            height: 180px;
            border-radius: 150px;
            object-fit: cover;
            &__img{
                object-fit: cover;
                width: 100%;
                height: 100%;
                border-radius: 150px;
            }
        }
        &__h2{
            color: $primaire_texte;
            font-size: 1.8rem;
            margin: 10px 0px 0px 0px;
        }
        &__p{
            &--ville{
                color: $primaire_cadre;
                font-size: 0.8rem;
                font-weight: bold;
                margin: 5px 0px 0px 0px;
            }
            &--dicton{
                font-size: 0.6rem;
                font-weight: bold;
                margin: 5px;
            }
            &--tarif{
                font-size: 0.6rem;
                font-weight: normal;
                font-style: italic;
                margin: 0px;
                color: rgb(133, 133, 133);
            }
        }
        &__ul{
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            padding: 0px;
            margin: 5px;
            &__a{
                text-decoration: none;
                display: block;
            }
            &__li{
                display: block;
                margin: 3px;
                padding: 5px;
                border: 1px solid rgb(202, 202, 202);
                border-radius: 15px;
                color: $primaire_cadre;
                font-weight: bold;
                font-size: 0.7rem;
                &:hover{
                    background-color: $primaire_cadre;
                    color: white;
                }
            }
        }
    &__a{
        text-decoration: none;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
    }
    }
}

@media screen and(min-width: 769px) {
    .main{
        justify-content: space-around;
        &__article{
            width: 30%;
            &__figure{
                height: 180px;
                width: 180px;
            }
        }
    }
}