.invisible {
    display: none;
}

// .caroussel{
//     // max-height: 90vw;
// }

.caroussel :first-child{
    object-fit: cover;
    height: 600px;
    width: 100%;
    border-radius: 5px;
}