.invisible {
    display: none;
}

.caroussel{
    width:auto;
    max-width: 90%;
}

.caroussel :first-child{
    object-fit: cover;
    height: 600px;
    width: 100%;
    border-radius: 5px;
}